.vs/InternetBank/DesignTimeBuild/.dtbcache.v2
.vs/InternetBank/v17/.futdcache.v2
.vs/InternetBank/v17/.suo
.vs/ProjectEvaluation/internetbank.metadata.v7.bin
.vs/ProjectEvaluation/internetbank.projects.v7.bin
InternetBank/Areas/Identity/Pages/Account/Login.cshtml
InternetBank/Pages/_Host.cshtml
InternetBank/Program.cs
InternetBank/bin/Debug/net7.0/InternetBank.dll
InternetBank/bin/Debug/net7.0/InternetBank.exe
InternetBank/bin/Debug/net7.0/InternetBank.pdb
InternetBank/bin/Debug/net7.0/InternetBank.staticwebassets.runtime.json
InternetBank/obj/Debug/net7.0/InternetBank.AssemblyInfo.cs
InternetBank/obj/Debug/net7.0/InternetBank.AssemblyInfoInputs.cache
InternetBank/obj/Debug/net7.0/InternetBank.GeneratedMSBuildEditorConfig.editorconfig
InternetBank/obj/Debug/net7.0/InternetBank.assets.cache
InternetBank/obj/Debug/net7.0/InternetBank.csproj.CoreCompileInputs.cache
InternetBank/obj/Debug/net7.0/InternetBank.csproj.FileListAbsolute.txt
InternetBank/obj/Debug/net7.0/InternetBank.dll
InternetBank/obj/Debug/net7.0/InternetBank.genruntimeconfig.cache
InternetBank/obj/Debug/net7.0/InternetBank.pdb
InternetBank/obj/Debug/net7.0/InternetBank.sourcelink.json
InternetBank/obj/Debug/net7.0/apphost.exe
InternetBank/obj/Debug/net7.0/project.razor.vs.bin
InternetBank/obj/Debug/net7.0/ref/InternetBank.dll