@page "/ForgetPassword"
@using InternetBank.Services
@model ForgetPasswordModel

@{
    ViewData["Title"] = "Восстановление пароля";
}

<link href="/CSS/main.css" rel="stylesheet" type="text/css">
<div class="center-block">
    <h1>Восстановление пароля</h1>
    @{
        if (@Model._codeGeneratingService.Code == null && !@Model._codeGeneratingService.IsCodeConfirm)
        {
            <form class="form" asp-page-handler="SendCode" method="post">
                <div>
                    <input name="email" placeholder="Введите почту..." /><br />
                    <span class="validation-message"></span>
                </div>
                <button>Отправить код</button>
                <br />
            </form>
        }
        else if (@Model._codeGeneratingService.Code != null && !@Model._codeGeneratingService.IsCodeConfirm)
        {
            <form class="form" asp-page-handler="CodeCompare" method="post">
                <div>
                    <input name="code" placeholder="Введите код..." maxlength="6" />
                </div>
                <button>Подтвердить</button>
                <br />
            </form>
        }
        else
        {
            <form class="form" asp-page-handler="ReplacePassword" method="post">
                <div>
                    <input name="newPassword" placeholder="Введите новый пароль..." />
                </div>
                <div>
                    <input name="confirm_newPassword" placeholder="Подтвердите пароль..." />
                </div>
                <button>Сменить пароль</button>
                <br />
            </form>
        }
    }
    <p class="validation-message">@Model.ErrorMessage</p>
</div>