@page "/ForgetPassword"
@model InternetBank.Areas.Identity.Pages.Account.ForgetPasswordModel
@{
    
}

<link href="/CSS/main.css" rel="stylesheet" type="text/css">
<div class="center-block">
    <form class="form" method="post">
        <div>
            <input asp-for="@Model.Email" placeholder="Введите почту..." /><br />
            <span class="validation-message" asp-validation-for="@Model.Email"></span>
        </div>
        <button>Далее</button>
        <br />
        <p class="validation-message">@Model.ErrorMessage</p>
    </form>
    <form name="code_form" asp-page-handler="sendCode" method="post">
        <button>send code</button>
    </form>
    <form class="form" method="post">
        <div>
            <input name="code" type="text"/>      
        </div>
        <input type="submit" asp-page-handler="CodeCompare" value="Next"/>
        <br />
        <p class="validation-message">@Model.ErrorMessage</p>
    </form>
</div>