@page "/ResetPassword"
@using InternetBank.Areas.Identity.Pages.Account;
@model ResetPasswordModel

<h1>Код: @Model.Code</h1>
<form method="post">
    <input type="submit" value="Сгенерировать код" />
</form>
