@page "/Test"
@using InternetBank.Models
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@using static System.Net.WebRequestMethods
@inject HttpClient client
@inject NavigationManager navManager;

<div class="center-block">
    <EditForm class="form" Model="@person" OnSubmit="Submit">
        <DataAnnotationsValidator />
        <h1>Авторизация</h1>
        <div>
            <input placeholder="Введите почту..." @bind-value="person.Email" />
        </div>
        <div>
            <input placeholder="Введите пароль..." @bind-value="person.Password" />
        </div>
        <button>Войти</button>
    </EditForm>
</div>

@code {
    Person person = new();
    protected override void OnInitialized()
    {
        client.BaseAddress = new Uri(navManager.BaseUri);
    }

    void Submit()
    {
        navManager.NavigateTo($"/api/account/login/{person.Email}/{person.Password}", true);
        // var result = await client.PostAsJsonAsync("/api/account/login", person);
        // bool success = await result.Content.ReadFromJsonAsync<bool>();
        // Console.WriteLine(success);
    }
}