@inherits LayoutComponentBase

<PageTitle>InternetBank</PageTitle>

<link href="/CSS/main.css" rel="stylesheet" type="text/css" />
<div class="page">
    <header class="navMenu">
        <NavMenu/>
    </header>
    <main>
        @Body
    </main>
</div>
