<link href="/CSS/main.css" rel="stylesheet" type="text/css" />
<div class="page">
    <header class="top-bar">
        <a href="/Registration">Зарегестрироваться</a>
        <a href="/Login">Войти</a>
    </header>
    <main>
        @RenderBody();
    </main>
</div>