<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"]</title>
        <link href="/CSS/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="page">
            <header class="navMenu">
                <div class="left">
                    <h1>InternetBank</h1>
                </div>
                <div class="right">
                    <a href="/Registration">Зарегестрироваться</a>
                    <a href="/Login">Войти</a>
                </div>
            </header>
            <main>
                @RenderBody()
            </main>
        </div>
    </body>
</html>