body{
    margin: 0;
}

main{
    padding: 10px;
}

.center-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.center-block .form {
    text-align: center;
}

.center-block .form input {
    margin: 5px;
    padding: 10px 5px;
    border-radius: 20px;
    border: 1px solid;
}

.center-block .form button {
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 20px;
}

.validation-message {
    color: red;
}

.top-bar {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.top-bar a {
    margin-left: 1.5rem;
    color: #0071c1;
    font-size: 20px;
}

.cardStyle{
    width:300px;
    height: 150px;
    border-radius:10px;
    background-color:lightblue;
}
.cardList{
    margin-top:5px;
    margin-bottom:5px;
    background-color:white;
    width:300px;
}
.cardList:hover{
    background-color:lightblue;
}

.cardPage {
    display: flex;
    justify-content: left;
}

.cardPage fieldset {
    height: max-content;
}

.cardPage .content {
    min-width: fit-content;
    padding: 50px;
}

.cardPage .content .form-block {
    margin: 10px 0;
}

.cardPage .transictions {
    padding: 20px;
    height: 50vh;
    overflow: auto;
}

.cardPage .transictions .block {
    margin:10px;
}

.cardPage .transictions .block .content-block {
    margin-left: 20px;
}

.cardPage .transictions .block .reciever {
    color: lawngreen;
}

.cardPage .transictions .block .sender {
    color:red;
}

.account .card {
    border-radius: 10px;
    height: 100px;
    width: 200px;
    background-color: lightblue;
    margin: 5px;
    padding: 10px;
}

.account .card .money {
    font-size: 20px; 
    text-align: center;
}

.account .card-container {
    display: flex;
    flex-wrap: wrap;
}